include README.md
include LICENSE
include pyproject.toml
include config/requirements.txt
include config/environment.yml

recursive-include models *.joblib *.pth *.json

prune docs
prune tests
prune research
prune dist
prune build

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.log
global-exclude .DS_Store
