name: Hello World

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
    - name: Hello World
      run: echo "Hello World! GitHub Actions is working!"
